.logo {
    max-width: 100%;
    max-height: 80px;
}

#voci_menu i-feather {
    width: 20px;
    height: 25px;
    margin-right:10px;
}
#voci_menu a  span,
#voci_menu a i-feather {
    color: var(--light);
    font-size: 14px !important;
}

#voci_menu a:hover span,
#voci_menu a:hover i-feather {
    color:var(--accent) !important;
    transition:all ease 0.3s;
}


#voci_menu .mat-mdc-list-item {
    border-right: 5px solid transparent;
    transition:all ease 0.3s;
}

#voci_menu .mat-mdc-list-item:hover {
    border-right: 5px solid var(--accent);
    transition:all ease 0.3s;
    cursor: pointer;
    background-color: #1a1a1a;
}
